
body {
  background-color: grey;
}
hr {
  border-style:none;
  border-top-style:dotted;
  border-width: 5px;
  border-color:black;
  width:10%;
}
h1{
color:purple;
font-size: 3em;
}
h3{
  color:purple;
}
